body {
    background: #616161;
    font-family: Arial, sans-serif;
}

.header {
    display: flex; /* Выравнивание элементов в строку */
    justify-content: flex-end; /* Размещение ссылок в правой части шапки */
    background-color: #333; /* Тёмный фон */
    padding: 10px 20px; /* Отступы внутри шапки */
}

.header a {
    color: #fff; /* Белый цвет текста */
    text-decoration: none; /* Убираем подчеркивание */
    margin-left: 20px; /* Отступ между ссылками */
    font-size: 18px; /* Размер шрифта */
}

.header a:hover {
    text-decoration: underline; /* Подчеркивание при наведении */
    color: #00bcd4; /* Светлый цвет при наведении */
}

.container {
    display: flex; /* Используем flexbox */
    flex-direction: column; /* Элементы располагаются вертикально */
    align-items: center; /* Центровка по горизонтали */
    background-color: #f0f0f0; /* Цвет фона контейнера */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 600px; /* Ширина контейнера */
}

.container-2 {
    display: flex; /* Включаем flexbox */
    justify-content: center; /* Центровка по горизонтали */
    align-items: center; /* Центровка по вертикали */
    background-color: #f0f0f0; /* Цвет фона контейнера */
    height: 400px; /* Высота контейнера */
    border: 1px solid #ccc; /* Граница для контейнера */
    border-radius: 10px;
    margin: 20px auto; /* Центрирование контейнера */
    max-width: 600px; /* Ширина контейнера */
}

.container-3 {
    display: flex; /* Включаем flexbox */
    flex-wrap: wrap; /* Разрешаем перенос элементов на новую строку */
    justify-content: space-around; /* Равномерное распределение по ширине */
    background-color: #f0f0f0; /* Цвет фона контейнера */
    border: 2px solid #ccc; /* Граница контейнера */
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    max-width: 2200px; /* Максимальная ширина контейнера */
}

.block {
    width: 200px;
    height: 200px;
    background-color: #4caf50; /* Цвет фона блока */
    margin-bottom: 20px; /* Отступ снизу для разделения с изображением */
    border-radius: 10px;
}

.block-2 {
    width: 200px;
    height: 200px;
    background-color: #ff5722; /* Цвет фона блока */
    border-radius: 10px;
}

.block-3 {
    width: 200px;
    height: 200px;
    background-color: #4caf50; /* Цвет фона блока */
    color: white;
    display: flex; /* Используем flex для выравнивания текста внутри блока */
    justify-content: center; /* Центровка текста по горизонтали */
    align-items: center; /* Центровка текста по вертикали */
    border-radius: 5px;
    margin: 10px; /* Отступы между блоками */
    font-size: 18px; /* Размер текста */
    font-weight: bold;
}

.centered-image {
    width: 200px;
    display: block; /* Отображаем как блочный элемент */
}

.content {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.content-left, .content-right {
    background: #bfbfbf;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content-left {
    width: 60%;
}

.content-right {
    width: 35%;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

h1 {
    text-align: center; /* Центровка заголовка по горизонтали */
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    margin: 10px 0;
}


h2, p, ul, ol, a {
    font-size: 18px;
    color: #333;
}

h2 {
    margin: 10px 0;
}

p, ul, ol {
    margin: 10px 0 20px;
}

a {
    color: #0088cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
